* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body._lock {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
}

.wrapper {
  min-height: 100%;
  width: 100%;
}

.wrapper .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
}

.wrapper .header .header__container {
  max-width: 1440px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 22px 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 120px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.wrapper .header .header__logo {
  background-color: #eaeaea;
  position: relative;
  min-width: 148px;
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #959595;
  font-size: 22px;
  font-weight: 700;
  z-index: 5;
}

.wrapper .header .menu__icon {
  display: none;
}

.wrapper .header .menu__list {
  width: 100%;
}

.wrapper .header .menu__list li {
  position: relative;
  margin: 0px 0px 0px 45px;
  white-space: nowrap;
}

.wrapper .header .menu__list .menu__link {
  font-size: 18px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  color: black;
}

.wrapper .header .menu__list .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .header .menu__list .button .menu__button {
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  font-family: Helvetica Medium;
  padding: 0px 10px;
}

.wrapper .header .menu__list .button .menu__button:hover {
  cursor: pointer;
}

.wrapper .header .menu__list .button .menu__button.create__announcement {
  margin-left: 62px;
  margin-right: 20px;
  width: 100%;
  height: 48px;
  background-color: #0468ff;
  color: #fff;
}

.wrapper .header .menu__list .button .menu__button.entrance {
  width: 160px;
  height: 48px;
  border: 1px solid #0468ff;
  color: #0468ff;
  background-color: #fff;
}

.wrapper .main {
  margin-top: 120px;
  width: 100%;
  height: 100%;
}

.wrapper .main .soprovod__section1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("../img/png/soprovod.png");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/png/soprovod.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/png/soprovod.png");
  background-size: cover;
  background-position: top;
  height: 700px;
  padding-bottom: 100px;
  width: 100%;
  margin-bottom: 113px;
}

.wrapper .main .soprovod__section1 .page__section_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px;
}

.wrapper .main .soprovod__section1 .page__section_1 .section1__title {
  margin-top: 215px;
  font-size: 36px;
  color: #fff;
  z-index: 1;
  font-weight: bold;
}

.wrapper .main .soprovod__section1 .page__section_1 .section1__text {
  margin-top: 30px;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  width: 448px;
  height: 100%;
  line-height: 150%;
}

.wrapper .main .soprovod__section1 .page__section_1 .button__main {
  min-width: 317px;
  height: 48px;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  background-color: #0468ff;
  color: #fff;
}

.wrapper .main .soprovod__section2 {
  width: 100%;
  height: 100%;
  margin-bottom: 115px;
}

.wrapper .main .soprovod__section2 .section4__title {
  width: 445px;
  font-size: 36px;
  border-bottom: 2px solid #0468ff;
  padding-bottom: 15px;
  margin-bottom: 50px;
  margin-left: 148px;
  font-weight: bold;
}

.wrapper .main .soprovod__section2 .section4__items {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wrapper .main .soprovod__section2 .section4__items .section4__item {
  width: 25%;
  position: relative;
}

.wrapper .main .soprovod__section2 .section4__items .section4__item span {
  font-size: 96px;
  color: rgba(4, 104, 255, 0.4);
  position: absolute;
  top: -50px;
  left: 20px;
  font-weight: 500;
}

.wrapper .main .soprovod__section2 .section4__items .section4__item .section4__item__text {
  margin-top: 28px;
  font-size: 24px;
  font-weight: bold;
}

.wrapper .main .soprovod__section5 {
  width: 100%;
  height: 100%;
  margin-bottom: 115px;
}

.wrapper .main .soprovod__section5 .section5__title {
  width: 445px;
  font-size: 36px;
  border-bottom: 2px solid #0468ff;
  padding-bottom: 15px;
  margin-bottom: 48px;
  margin-left: 148px;
}

.wrapper .main .soprovod__section5 .section5__text {
  color: black;
  font-size: 22px;
  margin-left: 148px;
  margin-bottom: 50px;
}

.wrapper .main .soprovod__section5 .section5__link {
  color: rgba(4, 104, 255, 0.5);
  border-bottom: 1px dashed rgba(4, 104, 255, 0.5);
  width: 149px;
  font-size: 22px;
  margin-left: 148px;
  margin-bottom: 50px;
}

.wrapper .main .soprovod__section5 .section5__items {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: rgba(4, 104, 255, 0.1);
  border-radius: 20px;
}

.wrapper .main .soprovod__section5 .section5__items .section5__item {
  width: 100%;
}

.wrapper .main .soprovod__section5 .section5__items .section5__item .section5__text {
  padding: 42px 71px;
  font-size: 24px;
  font-weight: 500;
}

.wrapper .main .soprovod__section5 .section5__items .section5__item .section5__text.dop {
  display: none;
}

.wrapper .main .soprovod__section5 .section5__items .section5__item .section5__form {
  width: 100%;
  padding: 26px 34px;
}

.wrapper .main .soprovod__section5 .section5__items .section5__item .section5__form .form__item {
  width: 100%;
  margin-bottom: 20px;
}

.wrapper .main .soprovod__section5 .section5__items .section5__item .section5__form .form__item .section5__input {
  width: 80%;
  float: left;
  height: 48px;
  padding: 20px;
  font-size: 20px;
}

.wrapper .main .soprovod__section5 .section5__items .section5__item .section5__form .form__item .soprovod__section5__button {
  height: 48px;
  width: 160px;
  border: 1px solid #0468ff;
  border-radius: 10px;
  background-color: #fff;
  color: #0468ff;
}

.wrapper .main .katalog {
  width: 100%;
  height: 100%;
  margin-bottom: 144px;
}

.wrapper .main .katalog .katalog__title {
  margin-top: 228px;
  font-size: 36px;
  color: #272727;
  font-weight: bold;
  width: 445px;
  font-size: 36px;
  border-bottom: 2px solid #0468ff;
  padding-bottom: 15px;
  margin-bottom: 48px;
  margin-left: 148px;
}

.wrapper .main .katalog .katalog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wrapper .main .katalog .katalog__inner .katalog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 19px;
}

.wrapper .main .katalog .katalog__inner .katalog__items .katalog__item {
  width: 50%;
  text-align: left;
}

.wrapper .main .katalog .katalog__inner .katalog__items .katalog__item .katalog__item__title {
  font-size: 24px;
  color: #272727;
  font-weight: bold;
  margin-bottom: 20px;
}

.wrapper .main .katalog .katalog__inner .katalog__items .katalog__item .katalog__item__title img {
  float: right;
}

.wrapper .main .katalog .katalog__inner .katalog__items .katalog__item .katalog__item__text {
  color: #272727;
  font-size: 18px;
  margin-bottom: 46px;
}

.wrapper .main .katalog .katalog__inner .katalog__items .katalog__item .katalog__item__text img {
  float: right;
}

.wrapper .main .katalog .katalog__inner .katalog__items .katalog__item .katalog__item__text.text2 {
  width: 650px;
}

.wrapper .main .katalog .katalog__inner .katalog__items .katalog__item .katalog__item__price {
  color: #0468ff;
  font-size: 24px;
  font-weight: bold;
}

.wrapper .main .katalog .katalog__inner .katalog__items .katalog__item .katalog__item__price img {
  float: right;
}

.wrapper .main .katalog .katalog__inner .katalog__items .katalog__item .katalog__img {
  float: right;
  margin-right: 21px;
}

.wrapper .main .katalog .katalog__inner .katalog__items .katalog__item .katalog__img.img2:first-child {
  margin: 0;
}

.wrapper .main .create {
  width: 100%;
  height: 100%;
  margin-bottom: 115px;
}

.wrapper .main .create .create__title {
  margin-top: 228px;
  font-size: 36px;
  color: #272727;
  font-weight: bold;
  width: 445px;
  font-size: 36px;
  border-bottom: 2px solid #0468ff;
  padding-bottom: 15px;
  margin-bottom: 48px;
  margin-left: 148px;
}

.wrapper .main .create .create__form {
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0px 20px;
}

.wrapper .main .create .create__form .section5__label {
  font-size: 18px;
  font-weight: bold;
  margin-right: 60px;
}

.wrapper .main .create .create__form .section__search {
  width: 70%;
  height: 48px;
  border: 1px solid rgba(4, 104, 255, 0.5);
  border-radius: 2px;
  padding: 0px 10px;
  font-size: 20px;
  margin-bottom: 50px;
}

.wrapper .main .create .create__form .create__karta {
  width: 80%;
  height: 100%;
  margin: 0px 20px 100px 20px;
}

.wrapper .main .create .create__form .section__input {
  width: 330px;
  height: 48px;
  border: 1px solid rgba(4, 104, 255, 0.5);
  border-radius: 2px;
  padding: 0px 10px;
  font-size: 20px;
  margin-bottom: 50px;
}

.wrapper .main .create .create__form .section__input.button {
  width: 220px;
  background-color: #fff;
  color: #121621;
}

.wrapper .main .create .create__form .section__input.button:last-child {
  width: 220px;
  background: rgba(4, 104, 255, 0.5);
  color: #121621;
}

.wrapper .main .create .create__form .section__input.price {
  width: 150px;
  text-align: center;
}

.wrapper .main .create .create__form .form__item.bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.wrapper .main .create .create__form .form__item.bot .form__select {
  width: 330px;
  height: 48px;
  border: 1px solid rgba(4, 104, 255, 0.5);
  border-radius: 2px;
  padding: 0px 10px;
  font-size: 20px;
  margin-bottom: 50px;
}

.wrapper .main .create .create__form .create__btn {
  width: 446px;
  height: 48px;
  float: right;
  background: #0468ff;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  margin-right: 30px;
}

.wrapper .main .section__1 {
  background-image: url("../img/jpg/business-handshake-in-glass-reflection-in-office-675872871-31a95e1d4fd8433088e738228fd9d3dc.jpg");
  background-size: auto;
  background-position: center;
  height: 100%;
  padding-bottom: 100px;
  width: 100%;
}

.wrapper .main .section__1 .page__section_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px;
}

.wrapper .main .section__1 .page__section_1 .section1__title {
  margin-top: 115px;
  font-size: 36px;
  color: #fff;
  z-index: 1;
  margin-bottom: 71px;
}

.wrapper .main .section__1 .page__section_1 .button__main {
  min-width: 144px;
  height: 60px;
  border-radius: 10px 10px 0px 0px;
  font-size: 20px;
  font-weight: 500;
  background-color: #fff;
}

.wrapper .main .section__1 .page__section_1 .button__main.ozen,
.wrapper .main .section__1 .page__section_1 .button__main.sopr {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 0px 16px;
}

.wrapper .main .section__1 .page__section_1 .form {
  max-width: 100%;
  height: 100%;
}

.wrapper .main .section__1 .page__section_1 .form .form__item {
  background-color: #fff;
  border-radius: 0px 20px 20px 20px;
  padding: 26px 34px;
  white-space: nowrap;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .main .section__1 .page__section_1 .form .form__item .form__input {
  font-size: 20px;
  border: 1px solid rgba(4, 104, 255, 0.5);
  border-radius: 2px;
  height: 48px;
  padding: 15px 140px 15px 10px;
  width: 100%;
}

.wrapper .main .section__1 .page__section_1 .form .form__item .form__select {
  border: 1px solid rgba(4, 104, 255, 0.5);
  width: 100%;
  padding: 0px 50px 0px 10px;
  font-style: normal;
  font-weight: 500;
  color: #121621;
  opacity: 0.4;
  font-size: 15px;
  margin: 0px 5px;
}

.wrapper .main .section__1 .page__section_1 .form .form__button__seacrh {
  background: #0468ff;
  border-radius: 10px;
  width: 160px;
  height: 48px;
  color: #fff;
  font-size: 18px;
  margin-top: 30px;
  float: right;
}

.wrapper .main .section2 {
  margin: 117px 0px 117px 0px;
  width: 100%;
  height: 100%;
}

.wrapper .main .section2 .section2__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wrapper .main .section2 .section2__inner .section2__item {
  width: 33.33333%;
  padding: 10px;
}

.wrapper .main .section2 .section2__inner .section2__item .section2__item__title {
  position: relative;
  width: 100%;
}

.wrapper .main .section2 .section2__inner .section2__item .section2__item__title span {
  position: absolute;
  top: 0px;
  padding: 12px;
  left: 0;
  width: 100%;
  font-size: 36px;
  color: #fff;
  z-index: 1;
}

.wrapper .main .section2 .section2__inner .section2__item .section2__img {
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
}

.wrapper .main .section3 {
  width: 100%;
  height: 100%;
  margin-bottom: 115px;
}

.wrapper .main .section3 .section3__title {
  width: 445px;
  font-size: 36px;
  margin-left: 148px;
  border-bottom: 2px solid #0468ff;
  padding-bottom: 15px;
  margin-bottom: 33px;
}

.wrapper .main .section3 .section3__items {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.wrapper .main .section3 .section3__items .section3__item {
  width: 50%;
  margin: 0px 30px;
}

.wrapper .main .section3 .section3__items .section3__item .section3__item__title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 40px;
}

.wrapper .main .section3 .section3__items .section3__item .section3__item__text {
  font-size: 22px;
}

.wrapper .main .section3 .section3__items .section3__item .section3__img {
  width: 100%;
  height: 100%;
}

.wrapper .main .section4 {
  width: 100%;
  height: 100%;
  margin-bottom: 115px;
}

.wrapper .main .section4 .section4__title {
  width: 445px;
  font-size: 36px;
  border-bottom: 2px solid #0468ff;
  padding-bottom: 15px;
  margin-bottom: 33px;
  margin-left: 148px;
}

.wrapper .main .section4 .section4__items {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wrapper .main .section4 .section4__items .section4__item {
  width: 25%;
}

.wrapper .main .section4 .section4__items .section4__item .section4__item__text {
  margin-top: 28px;
  font-size: 24px;
  font-weight: bold;
}

.wrapper .main .section5 {
  width: 100%;
  height: 100%;
  margin-bottom: 115px;
}

.wrapper .main .section5 .section5__title {
  width: 445px;
  font-size: 36px;
  border-bottom: 2px solid #0468ff;
  padding-bottom: 15px;
  margin-bottom: 33px;
  margin-left: 148px;
}

.wrapper .main .section5 .section5__items {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: rgba(4, 104, 255, 0.1);
  border-radius: 20px;
}

.wrapper .main .section5 .section5__items .section5__item {
  width: 50%;
}

.wrapper .main .section5 .section5__items .section5__item .section5__text {
  padding: 42px 71px;
  font-size: 24px;
  font-weight: 500;
}

.wrapper .main .section5 .section5__items .section5__item .section5__text.dop {
  display: none;
}

.wrapper .main .section5 .section5__items .section5__item .section5__form {
  width: 100%;
  padding: 58px 90px 58px 49px;
}

.wrapper .main .section5 .section5__items .section5__item .section5__form .form__item {
  width: 100%;
  margin-bottom: 20px;
}

.wrapper .main .section5 .section5__items .section5__item .section5__form .form__item .section5__label {
  float: left;
  font-size: 15px;
  color: #121621;
  opacity: 0.4;
  margin-bottom: 10px;
}

.wrapper .main .section5 .section5__items .section5__item .section5__form .form__item .section5__input {
  width: 100%;
  height: 48px;
  padding: 20px;
  font-size: 20px;
}

.wrapper .main .section5 .section5__items .section5__item .section5__form .form__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .main .section5 .section5__items .section5__item .section5__form .form__items .form__item {
  width: 50%;
  margin: 0px 40px 60px 0px;
}

.wrapper .main .section5 .section5__items .section5__item .section5__form .form__items .form__item:last-child {
  margin: 0px 0px 0px 0px;
}

.wrapper .main .section5 .section5__items .section5__item .section5__form .form__items .form__item li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrapper .main .section5 .section5__items .section5__item .section5__form .form__items .form__item li .section5__checkbox {
  height: 50px;
  width: 50px;
  border: 1px solid #0468ff;
  background-color: #0468ff;
  border-color: blue;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-right: 10px;
}

.wrapper .main .section5 .section5__items .section5__item .section5__form .form__items .form__item li .checkbox__text {
  font-size: 15px;
  color: #000640;
  opacity: 0.3;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.wrapper .main .section5 .section5__items .section5__item .section5__form .form__items .section5__form__submit {
  width: 100%;
  height: 57px;
  background: #0468ff;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.wrapper .footer {
  width: 100%;
  height: 100%;
  background-color: #272727;
}

.wrapper .footer .footer__items {
  padding: 28px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wrapper .footer .footer__items .footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrapper .footer .footer__items .footer__item li {
  list-style-type: none;
}

.wrapper .footer .footer__items .footer__item li .menu__link {
  text-decoration: none;
  padding: 0px 10px;
  font-size: 20px;
  color: #eee;
}

.wrapper .footer .footer__items .footer__item .footer__item__text {
  margin-top: 40px;
  font-size: 24px;
  color: #fff;
  font-weight: 500;
}

.wrapper .footer .footer__items .footer__item .footer__phoheEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 36px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-right: 40px;
}

.wrapper .footer .footer__items .footer__item .footer__phoheEmail .footer__phoheEmail__text {
  color: #fff;
  font-size: 28px;
  margin-left: 10px;
}

.wrapper .popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 39, 39, 0.9);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.wrapper .popup.open {
  opacity: 1;
  visibility: visible;
}

.wrapper .popup .popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.wrapper .popup .popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px 10px;
}

.wrapper .popup .popup__body .popup__content {
  background-color: #fff;
  color: black;
  max-width: 800px;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: translate(0px, -100%);
  -ms-transform: translate(0px, -100%);
  transform: translate(0px, -100%);
}

.wrapper .popup .popup__body .popup__content .form__body {
  width: 100%;
  height: 100%;
}

.wrapper .popup .popup__body .popup__content .form__body .form__title {
  font-size: 40px;
  margin: 0px 0px 1em 0px;
}

.wrapper .popup .popup__body .popup__content .popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.54);
  text-decoration: none;
}

.wrapper .popup.open .popup__content {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

@media (min-width: 1190px) {
  .wrapper .header .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .wrapper .header .menu__list li {
    padding: 10px 0;
  }
}

@media (max-width: 1230px) {
  .wrapper .main .katalog .katalog__title {
    width: 50%;
    margin-right: 50px;
    margin-left: 30px;
  }

  .wrapper .main .katalog .katalog__inner .katalog__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 30px;
  }

  .wrapper .main .katalog .katalog__inner .katalog__items .katalog__item {
    width: 100%;
    text-align: left;
  }

  .wrapper .main .katalog .katalog__inner .katalog__items .katalog__item .katalog__item__text.text2 {
    text-align: left;
    width: 50%;
  }

  .wrapper .main .katalog .katalog__inner .katalog__items .katalog__item .katalog__img {
    float: none;
    margin-bottom: 20px;
    width: 50%;
  }
}

@media (max-width: 1190px) {
  .wrapper .header .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .wrapper .header .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
    -ms-transform: scale(0) translate(0px, -50%);
    transform: scale(0) translate(0px, -50%);
  }

  .wrapper .header .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
    -ms-transform: rotate(-45deg) translate(0px, -50%);
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .wrapper .header .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
    -ms-transform: rotate(45deg) translate(0px, 50%);
    transform: rotate(45deg) translate(0px, 50%);
  }

  .wrapper .header .menu__icon span,
  .wrapper .header .menu__icon::before,
  .wrapper .header .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #0468ff;
  }

  .wrapper .header .menu__icon::before,
  .wrapper .header .menu__icon::after {
    content: "";
  }

  .wrapper .header .menu__icon::before {
    top: 0;
  }

  .wrapper .header .menu__icon::after {
    bottom: 0;
  }

  .wrapper .header .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
    -ms-transform: scale(1) translate(0px, -50%);
    transform: scale(1) translate(0px, -50%);
  }

  .wrapper .header .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 39, 39, 0.9);
    padding: 218px 30px 30px 30px;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .wrapper .header .menu__body._active {
    left: 0;
  }

  .wrapper .header .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 120px;
    background-color: #fff;
    z-index: 2;
  }

  .wrapper .header .menu__body .button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .wrapper .header .menu__body .button .menu__button.create__announcement {
    max-width: 317px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 0px;
    margin: 0px 0px 0px 25%;
  }

  .wrapper .header .menu__body .button .menu__button.entrance {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .wrapper .header .menu__list > li {
    text-align: right;
    margin: 0px 16px 20px 0px;
  }

  .wrapper .header .menu__list > li .menu__link {
    color: #fff;
    font-size: 24px;
  }
}

@media (max-width: 1122px) {
  .wrapper .main .create .section__search {
    margin-top: 20px;
  }
}

@media (max-width: 1108px) {
  .wrapper .main .soprovod__section1 .form__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .wrapper .main .soprovod__section1 .form__item .form__select {
    height: 48px;
    margin-bottom: 20px;
  }

  .wrapper .main .section__1 .form__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .wrapper .main .section__1 .form__item .form__select {
    height: 48px;
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
  .wrapper .main .soprovod__section5 .section5__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: auto;
    margin: 16px;
  }

  .wrapper .main .soprovod__section5 .section5__items .section5__item {
    width: 100%;
  }

  .wrapper .main .soprovod__section5 .section5__items .section5__item .section5__item__text {
    margin-bottom: 20px;
  }

  .wrapper .main .soprovod__section5 .section5__items .section5__item .section5__form {
    padding: 20px;
  }

  .wrapper .main .soprovod__section5 .section5__items .section5__item .section5__form .form__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .wrapper .main .soprovod__section5 .section5__items .section5__item .section5__form .form__item .section5__input {
    width: 100%;
  }

  .wrapper .main .soprovod__section5 .section5__items .section5__item .section5__form .form__item .soprovod__section5__button {
    margin-right: 25px;
    margin-top: 30px;
    float: right;
  }

  .wrapper .main .section5 .section5__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: auto;
    margin: 16px;
  }

  .wrapper .main .section5 .section5__items .section5__item {
    width: 100%;
  }

  .wrapper .main .section5 .section5__items .section5__item .section5__item__text {
    margin-bottom: 20px;
  }

  .wrapper .main .section5 .section5__items .section5__item .section5__form {
    padding: 20px;
  }
}

@media (max-width: 886px) {
  .wrapper .main .section2 .section2__inner .section2__item {
    width: 50%;
  }
}

@media (max-width: 860px) {
  .wrapper .main .create .create__form .section__search {
    width: 100%;
  }

  .wrapper .main .create .create__title {
    width: 50%;
    margin-right: 50px;
    margin-left: 30px;
  }

  .wrapper .main .create .create__form .section__input.button:last-child {
    width: 100%;
  }

  .wrapper .main .create .create__form .create__karta {
    width: 100%;
    margin: 0px 0px 50px 0px;
  }

  .wrapper .main .create .create__form .form__item.bot {
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .wrapper .main .create .create__form .form__item.bot input {
    width: 100%;
  }

  .wrapper .main .create .create__form .form__item.bot label {
    margin-bottom: 20px;
  }

  .wrapper .main .create .create__form .form__item.bot .form__select {
    width: 100%;
  }

  .wrapper .main .create .create__form .create__btn {
    width: 100%;
    float: none;
  }
}

@media (max-width: 748px) {
  .wrapper .main .soprovod__section2 .section4__title {
    width: 50%;
    margin-right: 50px;
    margin-left: 30px;
  }

  .wrapper .main .soprovod__section2 .section4__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .wrapper .main .soprovod__section2 .section4__items .section4__item {
    width: 100%;
  }

  .wrapper .main .soprovod__section2 .section4__items .section4__item .section4__item__text {
    margin-bottom: 50px;
    font-size: 20px;
  }

  .wrapper .main .soprovod__section5 .section5__title {
    width: 50%;
    margin-right: 50px;
    margin-left: 30px;
  }

  .wrapper .main .soprovod__section5 .section5__text {
    width: 50%;
    margin-right: 50px;
    margin-left: 30px;
  }

  .wrapper .main .soprovod__section5 .section5__link {
    margin-right: 50px;
    margin-left: 30px;
  }

  .wrapper .main .section3 .section3__title {
    width: 50%;
    margin-right: 50px;
    margin-left: 30px;
  }

  .wrapper .main .section3 .section3__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .wrapper .main .section3 .section3__items .section3__item {
    width: 100%;
  }

  .wrapper .main .section3 .section3__items .section3__item .section3__item__text {
    margin-bottom: 20px;
  }

  .wrapper .main .section4 .section4__title {
    width: 50%;
    margin-right: 50px;
    margin-left: 30px;
  }

  .wrapper .main .section4 .section4__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .wrapper .main .section4 .section4__items .section4__item {
    width: 100%;
  }

  .wrapper .main .section4 .section4__items .section4__item .section4__item__text {
    margin-bottom: 20px;
  }

  .wrapper .main .section5 .section5__title {
    width: 50%;
    margin-right: 50px;
    margin-left: 30px;
  }
}

@media (max-width: 666px) {
  .wrapper .main .soprovod__section1 .page__section_1 {
    margin: 10px;
  }

  .wrapper .main .soprovod__section1 .page__section_1 .section1__text {
    width: 100%;
  }

  .wrapper .main .soprovod__section1 .page__section_1 .button__main {
    min-width: 100%;
  }

  .wrapper .main .soprovod__section1 .page__section_1 .section_1__inner {
    width: 100%;
  }

  .wrapper .main .section__1 .section1__block__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .wrapper .main .section__1 .section1__block__form .button__main {
    min-width: 50%;
  }

  .wrapper .main .section__1 .section1__block__form .button__main.sopr {
    display: none;
  }

  .wrapper .main .section__1 .page__section_1 {
    margin: 10px;
  }

  .wrapper .main .section__1 .page__section_1 .section_1__inner {
    width: 100%;
  }

  .wrapper .main .section__1 .page__section_1 .section_1__inner .form .form__item .form__input {
    padding: 0px 10px;
  }

  .wrapper .main .section__1 .page__section_1 .section_1__inner .form .form__item .form__select {
    padding: 0px 10px;
  }
}

@media (max-width: 608px) {
  .wrapper .main .katalog .katalog__inner .katalog__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 30px;
  }

  .wrapper .main .katalog .katalog__inner .katalog__items .katalog__item {
    width: 100%;
    text-align: left;
  }

  .wrapper .main .katalog .katalog__inner .katalog__items .katalog__item .katalog__item__text {
    width: 100%;
    margin-right: 100px;
    white-space: pre-wrap;
  }

  .wrapper .main .katalog .katalog__inner .katalog__items .katalog__item .katalog__item__text.text2 {
    text-align: left;
    width: 100%;
  }

  .wrapper .main .katalog .katalog__inner .katalog__items .katalog__item .katalog__img {
    float: none;
    margin-bottom: 20px;
    width: 100%;
  }
}

@media (max-width: 596px) {
  .wrapper .main .section2 .section2__inner .section2__item {
    width: 100%;
  }

  .wrapper .main .section2 .section2__inner .section2__item .section2__item__title span {
    font-size: 25px;
  }
}

@media (max-width: 584px) {
  .wrapper .footer .footer__items .footer__item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .wrapper .footer .footer__items .footer__item .footer__item__text {
    margin-bottom: 15px;
  }

  .wrapper .footer .footer__items .footer__item li {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .wrapper .footer .footer__items .footer__item .footer__phoheEmail {
    margin-left: 25px;
    margin-bottom: 20px;
  }

  .wrapper .footer .footer__items .footer__item .footer__phoheEmail .footer__phoheEmail__text {
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 528px) {
  .wrapper .main .soprovod__section5 .section5__items {
    margin: 0px;
    padding-bottom: 20px;
  }

  .wrapper .main .soprovod__section5 .section5__items .section5__item .section5__text {
    padding: 42px 20px;
    font-size: 24px;
    font-weight: 500;
    display: none;
  }

  .wrapper .main .soprovod__section5 .section5__items .section5__item .section5__text.dop {
    display: block;
  }

  .wrapper .main .soprovod__section5 .section5__items .section5__item .section5__form {
    padding: 15px;
  }

  .wrapper .main .soprovod__section5 .section5__items .section5__item .section5__form .form__items .form__item {
    margin: 0px 10px 60px 0px;
  }

  .wrapper .main .soprovod__section5 .section5__items .section5__item .section5__form .form__items .form__item .section5__label {
    white-space: nowrap;
  }

  .wrapper .main .soprovod__section5 .section5__items .section5__item .section5__form .form__items.wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .wrapper .main .soprovod__section5 .section5__items .section5__item .section5__form .form__items.wrap .form__item {
    width: 100%;
  }

  .wrapper .main .section5 .section5__items {
    margin: 0px;
    padding-bottom: 20px;
  }

  .wrapper .main .section5 .section5__items .section5__item .section5__text {
    padding: 42px 20px;
    font-size: 24px;
    font-weight: 500;
    display: none;
  }

  .wrapper .main .section5 .section5__items .section5__item .section5__text.dop {
    display: block;
  }

  .wrapper .main .section5 .section5__items .section5__item .section5__form {
    padding: 5px;
  }

  .wrapper .main .section5 .section5__items .section5__item .section5__form .form__items .form__item {
    margin: 0px 10px 60px 0px;
  }

  .wrapper .main .section5 .section5__items .section5__item .section5__form .form__items .form__item .section5__label {
    white-space: nowrap;
  }

  .wrapper .main .section5 .section5__items .section5__item .section5__form .form__items.wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .wrapper .main .section5 .section5__items .section5__item .section5__form .form__items.wrap .form__item {
    width: 100%;
  }
}